<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ghostservice-api-phasmotool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/eec62ad3-0cca-4710-ad61-f4d773604c93/resourcegroups/PhasmoTool/providers/Microsoft.Web/sites/GhostService-API-PhasmoTool</ResourceId>
    <UserName>$GhostService-API-PhasmoTool</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ghostservice-api-phasmotool.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>