<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://phasmo-tool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/203cb329-0289-43de-8bd4-ce506026f5c3/resourceGroups/Phasmo_Tool/providers/Microsoft.Web/sites/phasmo-tool</ResourceId>
    <UserName>$phasmo-tool</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://phasmo-tool.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>